/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  height: calc(100vh - 150px);
  align-items: flex-start;
  padding: 15vh 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 20vh 0;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}